<article class="post">
  <div class="title">
  Title: {{title}}
  </div>
  <div class="post_text">
  Text: {{post_text}}
  </div>
  <div class="meta">
    by {{user.username}} on {{created_at}}
  </div>
</article>