<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>All About That Tech</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
    <!-- Header -->
    <header>
      <!-- Navigation -->
      <nav>
          <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/dashboard">Dashboard</a>
                </li>
                {{!-- {{#if loggedIn}} --}}
                <li>
                    <button id="logout" class="btn-no-style">Logout</button>
                </li>
                {{!-- {{else}} --}}
                <li>
                    <a href="/login">Login</a>
                </li>
                {{!-- {{/if}} --}}
            </ul>
            <h1>
                <a href="/">All About That Tech</a>
            </h1>
      </nav>
    </header>

    <main>
      {{{ body }}}
    </main>

  </div>
  {{!-- {{#if loggedIn}} --}}
  <script src="/javascript/logout.js"></script>
  {{!-- {{/if}} --}}
</body>


</html>