:root {
    --primary-color: rgb(174, 235, 254);
    --secondary-color: rgb(59, 34, 20);
    --tertiary-color: rgb(202, 196, 192);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

  
body, html {
    height: 100%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

/* Header Start */

header {
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 35px;
}
  
header h1 a {
    font-size: 40px;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    text-decoration: none;
    border: 2px solid #ccc;
}

header nav {
    padding: 10px 0;
}

header nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}

header nav ul li a,
header nav ul li button {
    margin: 10px 15px;
    text-decoration: none;
    color: var(--primary-color);
    font-size: 20px;
}

/* Header End */

/* Body Start */

/* Posts Start */
.post-list {
    list-style: none;
}

.post {
    margin-bottom: 10px;
    line-height: 150%;
    border: 1px solid var(--secondary-color);
}
  
.post .title {
    background-color: var(--secondary-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5px 10px;
}

.post .title a {
    font-style: bold;
    font-size: 20px;
    color: var(--primary-color);
    text-decoration: none;
    padding: 5px 10px;
}

.post .title span {
    font-style: italic;
    font-size: 15px;
    color: var(--tertiary-color);
}

.post_text {
    padding: 5px 10px;
}

/* Posts End */

textarea, input {
    padding: .5%;
    border-radius: 5px;
    border: 1px solid var(--tertiary-color);
}
  
textarea:focus, input:focus {
    outline: none;
    border: 1px solid #3486eb;
}
  
textarea {
    min-width: 40%;
    min-height: 100px;
}
  
form > div {
    margin-bottom: 2%;
}
  
form label {
    display: block;
}
  
.wrapper {
    width: 100%;
    min-height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
  
  
main {
    flex: 1;
    padding: 2% 4%;
}


button {
    background-color: var(--tertiary-color);
    border: 0;
    padding: 1%;
    color: var(--secondary-color);
    font-weight: bold;
    transition: background-color .1s;
    cursor: pointer;
    border-radius: 5px;
}

.comment {
    padding: 1%;
    margin-bottom: 10px;
    border: 1px solid var(--secondary-color);
}
  
.comment .meta {
    font-size: 90%;
    margin-bottom: 5px;
    color: gray;
}

.login-form,
.signup-form,
.comment-form,
.new-post-form,
.edit-post-form {
    border: 1px solid var(--secondary-color);
    padding: 30px 30px 0 30px;;
    flex-wrap: wrap;
    justify-content: center;
    width: 60%;
    font-size: 20px;
}

.comment-form {
    width: 100%;
    margin: 0 0 10px 0;
    border-top: 30px solid var(--secondary-color);
}

.edit-post-form {
    width: 100%;
    margin: 10px 0 10px 0;
}

.login-form input,
.signup-form input,
.new-post-form input,
.edit-post-form input {
    justify-content: center;
    width: 100%;
    line-height: 200%;
    margin: 5px 0 10px 0;
}

.comment-form textarea,
.new-post-form textarea,
.edit-post-form textarea {
    justify-content: center;
    width: 100%;
    line-height: 200%;
}

.login-form button,
.signup-form button,
.comment-form button,
.new-post-form button,
.edit-post-form button {
    justify-content: center;
    width: 100%;
    font-size: 20px;
    margin-bottom: 10px;
}

.btn-link {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    transition: color .1s;
}

.add-post-button {
    background-color: var(--tertiary-color);
    border: 0;
    width: 200px;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.add-post-button a {
    color: var(--secondary-color);
    text-decoration: none;
    font-size: 20px;
}